.nav-container {
  justify-content: space-between;
  border-radius: 36px;
  align-self: stretch;
  display: flex;
  padding: 16px;
}

.link {
  
  text-align: center;
  letter-spacing: 0.32px;
  font: 600 16px Poppins, sans-serif;
}
